<div class="col-xs-12 col-sm-3 col-md-3 left-panel">
    <div class="left-section">
        <h4>Filter Tickets
            <button class="btn btn-sm btn-primary pull-right" (click)="showSelected()">Apply </button></h4>
        <div class=" form-group ">
            <label>Ticket no</label>
            <input type="text " placeholder="Ticket no " class="form-control ">
        </div>
        <div class="form-group ">
            <label>Business/ Service</label>
            <select class="form-control ">
								<option>Select</option>
								<option>Care@Home</option>
							</select>
        </div>
        <div class="form-group ">
            <label>MRN no</label>
            <input type="text " placeholder="MRN no " class="form-control ">
        </div>
        <div class="form-group ">
            <label>Orders no</label>
            <input type="text " placeholder="Orders no " class="form-control ">
        </div>
        <div class="form-group ">
            <label>Invoice no</label>
            <input type="text " placeholder="Invoice no " class="form-control ">
        </div>
        <div class="form-group ">
            <label>Request date</label>
            <div class="row ">
                <div class="col-xs-12 col-sm-6 col-md-6 "><input type="text " placeholder="From " class="form-control "></div>
                <div class="col-xs-12 col-sm-6 col-md-6 "><input type="text " placeholder="To " class="form-control "></div>
            </div>
        </div>
        <div class="form-group ">
            <label>Order date</label>
            <div class="row ">
                <div class="col-xs-12 col-sm-6 col-md-6 "><input type="text " placeholder="From " class="form-control "></div>
                <div class="col-xs-12 col-sm-6 col-md-6 "><input type="text " placeholder="To " class="form-control "></div>
            </div>
        </div>
        <div class="form-group ">
            <label>Priority</label>
            <p><input type="checkbox "> Low</p>
            <p><input type="checkbox "> Medium</p>
            <p><input type="checkbox "> Heigh</p>
            <p><input type="checkbox "> Urgent</p>
        </div>

    </div>
</div>